.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--p-spacing-fluid-sm);
}

.status {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: var(--p-spacing-static-sm);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--p-color-contrast-low);
  border-radius: var(--p-radius-md);
  background-color: var(--p-color-surface);
}
